@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outward';
  src: url('./webfonts/outward/outward-block-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Silkscreen';
  src: url('./webfonts/silkscreen/Silkscreen-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Silkscreen Bold';
  src: url('./webfonts/silkscreen/Silkscreen-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'Anton';
  src: url('./webfonts/anton/Anton-Regular.ttf') format('woff');
}




li,
button {
  font-family: 'Anton';
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
  transition: all .5s ease-out;
}

li:hover {
  --tw-bg-opacity: 1;
  color: rgb(226 232 240 / var(--tw-bg-opacity));
  background-color: rgb(150, 169, 169);
  border-radius:8%;
}

button:hover {
  --tw-bg-opacity: 1;
  color: rgb(226 232 240 / var(--tw-bg-opacity));
}

p {
  font-family: 'Anton';
  color: #929291;
}

h2 {
  font-family: 'Silkscreen Bold';
  --tw-bg-opacity: 1;
  color: rgb(226 232 240 / var(--tw-bg-opacity));
}

h3 {
  margin: 0;
  font-family: 'Silkscreen';
  --tw-bg-opacity: 1;
  color: rgb(226 232 240 / var(--tw-bg-opacity));
}

h4,
th {
  font-family: 'Anton';
  --tw-bg-opacity: 1;
  color: rgb(226 232 240 / var(--tw-bg-opacity));
}

h5 {
  margin: 0;
  font-family: 'Anton';
  --tw-bg-opacity: 1;
  color: rgb(226 232 240 / var(--tw-bg-opacity));
}


#grid2RowWrapper {
  display: grid;
  grid-template-rows: auto auto;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
